[core]
	excludesfile = ~/.gitignore_global

[color "status"]
	added = green white reverse bold
	changed = magenta white reverse bold
	untracked = blue white reverse bold

[color "diff"]
	meta = yellow
	frag = magenta
	old = red white reverse bold
	new = green white reverse bold

